<?php if (!empty($unpinId)):?>
  <div class="mb-2">
    <button class="btn btn-outline-dark btn-sm" id="carousel-unpin-button" data-id="<?=$unpinId?>">Unpin current Carousel</button>
    <a href="./carousel/Admin/Slide/?carouselId=<?=$unpinId?>">Edit current slides</a>
  </div>
<?php else:?>
  <div class="input-group mb-2">
    <select class="form-control-sm" id="carousel-pin-list">
      <option value="0">Choose a carousel to pin</option>
      <?php foreach($carousels as $row):?>
        <option value="<?=$row['id']?>"><?=$row['title']?></option>
      <?php endforeach;?>
    </select>
    <div class="input-group-append">
      <button type="button" id="carousel-pin-button" class="btn btn-primary btn-sm float-right">Pin</button>
    </div>
  </div>
<?php endif;?>